<!-- 1.Artichoke -->
<div class="p-grid">
    <p-card header="Artichoke" subheader="Vitamin A" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/images/veg/artichoke.jpeg">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Add to Grocery List" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Find Recipes" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    <!-- 2. Asparagus -->
    <p-card header="Asparagus" subheader="Vitamin A" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/images/veg/asparagus.jpeg">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Add to Grocery List" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Find Recipes" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    
    
    <!-- 3.Carrots -->
    <p-card header="Carrots" subheader="Vitamin A" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/images/veg/carrot.jpeg">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Add to Grocery List" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Find Recipes" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    <!-- 4.Corn -->
    <p-card header="Corn" subheader="Vitamin A" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/images/veg/corn.jpeg">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Add to Grocery List" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Find Recipes" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    <!-- 5. Cucumber -->
    <p-card header="Cucumber" subheader="Vitamin A" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/images/veg/cucumber.jpeg">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Add to Grocery List" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Find Recipes" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    <!-- 6. Green beans -->
    <p-card header="Green beans" subheader="Vitamin A" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/images/veg/greenbeans.jpeg">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Add to Grocery List" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Find Recipes" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    <!-- 7. Kale -->
    <p-card header="Kale" subheader="Vitamin A" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/images/veg/kale.jpeg">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Add to Grocery List" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Find Recipes" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    <!-- 8. Leek-->
    <p-card header="Leek" subheader="Vitamin A" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/images/veg/leek.jpeg">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Add to Grocery List" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Find Recipes" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    
    <!-- 9. Peppers  -->
    <p-card header="Peppers" subheader="Vitamin A" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/images/veg/pepper.jpeg">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Add to Grocery List" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Find Recipes" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    <!-- 10. Peas -->
    <p-card header="Peas" subheader="Vitamin A" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/images/veg/peas.jpeg">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Add to Grocery List" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Find Recipes" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    <!-- 11.Squash -->
    <p-card header="Squash" subheader="Vitamin A" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/images/veg/squash.jpeg">
        </p-header>
        <div> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Add to Grocery List" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Find Recipes" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    <!-- 12. Zuchinni -->
    <p-card header="Zuchinni" subheader="Vitamin A" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/images/veg/zucchini.jpeg">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Add to Grocery List" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Find Recipes" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    
