<h2>Monday</h2>

<textarea rows="4" cols="200" pInputTextarea >
   Breakfast:
   Lunch:
   Dinner:
   Snack(s):
</textarea>

<p-button label="Cancel" class="ui-button-raised ui-button-secondary"></p-button>
<p-button label="Save"></p-button>

<h2>Tuesday</h2>
<textarea rows="4" cols="200" pInputTextarea >
    Breakfast:
    Lunch:
    Dinner:
    Snack(s):
 </textarea>
 
 <p-button label="Cancel" class="ui-button-raised ui-button-secondary"></p-button>
 <p-button label="Save"></p-button>

<h2>Wednesday</h2>
<textarea rows="4" cols="200" pInputTextarea >
    Breakfast:
    Lunch:
    Dinner:
    Snack(s):
 </textarea>
 
 <p-button label="Cancel" class="ui-button-raised ui-button-secondary"></p-button>
 <p-button label="Save"></p-button>

<h2>Thursday</h2>
<textarea rows="4" cols="200" pInputTextarea >
   Breakfast:
   Lunch:
   Dinner:
   Snack(s):
</textarea>

<p-button label="Cancel" class="ui-button-raised ui-button-secondary"></p-button>
<p-button label="Save"></p-button>

<h2>Friday</h2>
<textarea rows="4" cols="200" pInputTextarea >
    Breakfast:
    Lunch:
    Dinner:
    Snack(s):
 </textarea>
 
 <p-button label="Cancel" class="ui-button-raised ui-button-secondary"></p-button>
 <p-button label="Save"></p-button>

<h2>Saturday</h2>
<textarea rows="4" cols="200" pInputTextarea >
    Breakfast:
    Lunch:
    Dinner:
    Snack(s):
 </textarea>
 
 <p-button label="Cancel" class="ui-button-raised ui-button-secondary"></p-button>
 <p-button label="Save"></p-button>

<h2>Sunday</h2>

<textarea rows="4" cols="200" pInputTextarea >
    Breakfast:
    Lunch:
    Dinner:
    Snack(s):
 </textarea>
 
 <p-button label="Cancel" class="ui-button-raised ui-button-secondary"></p-button>
 <p-button label="Save"></p-button>