<h2>Monday</h2>
<span class="ui-float-label">
    <textarea id="float-input" rows="5" cols="200" pInputTextarea></textarea>
    <label for="float-input">Summary</label>
</span>

<p-button label="Cancel" class="ui-button-raised ui-button-secondary"></p-button>
<p-button label="Save"></p-button>

<h2>Tuesday</h2>
<span class="ui-float-label">
    <textarea id="float-input" rows="5" cols="200" pInputTextarea></textarea>
    <label for="float-input">Summary</label>
</span>

<p-button label="Cancel" class="ui-button-raised ui-button-secondary"></p-button>
<p-button label="Save"></p-button>

<h2>Wednesday</h2>
<span class="ui-float-label">
    <textarea id="float-input" rows="5" cols="200" pInputTextarea></textarea>
    <label for="float-input">Summary</label>
</span>

<p-button label="Cancel" class="ui-button-raised ui-button-secondary"></p-button>
<p-button label="Save"></p-button>

<h2>Thursday</h2>
<span class="ui-float-label">
    <textarea id="float-input" rows="5" cols="200" pInputTextarea></textarea>
    <label for="float-input">Summary</label>
</span>

<p-button label="Cancel" class="ui-button-raised ui-button-secondary"></p-button>
<p-button label="Save"></p-button>

<h2>Friday</h2>
<span class="ui-float-label">
    <textarea id="float-input" rows="5" cols="200" pInputTextarea></textarea>
    <label for="float-input">Summary</label>
</span>

<p-button label="Cancel" class="ui-button-raised ui-button-secondary"></p-button>
<p-button label="Save"></p-button>

<h2>Saturday</h2>
<span class="ui-float-label">
    <textarea id="float-input" rows="5" cols="200" pInputTextarea></textarea>
    <label for="float-input">Summary</label>
</span>

<p-button label="Cancel" class="ui-button-raised ui-button-secondary"></p-button>
<p-button label="Save"></p-button>

<h2>Sunday</h2>

<span class="ui-float-label">
    <textarea id="float-input" rows="5" cols="200" pInputTextarea></textarea>
    <label for="float-input">Summary</label>
</span>

<p-button label="Cancel" class="ui-button-raised ui-button-secondary"></p-button>
<p-button label="Save"></p-button>
