<div class="p-grid">

    <!-- 1. Apples  -->
    
    <p-card header="Apples" subheader="Vitamin C" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/showcase/images/usercard.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    
    <!-- 2. Bananas -->
    <p-card header="Bananas" subheader="Vitamin C" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/showcase/images/usercard.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    
    <!-- 3. Canteloupe -->
    <p-card header="Canteloupe" subheader="Vitamin C" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/showcase/images/usercard.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    <!-- 4. Dragon Fruit -->
    <p-card header="Dragon Fruit" subheader="Vitamin C" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/showcase/images/usercard.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    <!-- 5. Fig -->
    <p-card header="Fig" subheader="Vitamin C" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/showcase/images/usercard.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    <!-- 5. Grapes -->
    <p-card header="Grapes" subheader="Vitamin C" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/showcase/images/usercard.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    <!-- 6. Plum -->
    <p-card header="Plum" subheader="Vitamin A" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/showcase/images/usercard.png">
        </p-header>
        <div>
            <ul>
               
                <li><i class="far fa-check-circle"></i>Vitamin A</li>
                <li>Fiber, Sorbitol, isatin</li>
                <li>Potassium</li>
                <li>Iron</li>
            </ul>
        </div>
        <p-footer>
            <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    <!-- 7. Lime -->
    <p-card header="Lime" subheader="Vitamin C" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/showcase/images/usercard.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    
    <!-- 8. Mango -->
    <p-card header="Mango" subheader="Vitamin C" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/showcase/images/usercard.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    <!-- 9. Mandarines -->
    <p-card header="Mandarines" subheader="Vitamin C" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/showcase/images/usercard.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    
    <!-- 10. Pineapple -->
    <p-card header="Pineapple" subheader="Vitamin C" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/showcase/images/usercard.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    <!-- 11. Raspberries -->
    <p-card header="Raspberries" subheader="Vitamin C" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/showcase/images/usercard.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    <!-- 12. Strawberries -->
    <p-card header="Strawberries" subheader="Vitamin C" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="assets/showcase/images/usercard.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
            <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
        </p-footer>
    </p-card>
    </div>
    
    