<div class="container">
    <button pButton type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></button>
    <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
      <div>
       
        <i class="far fa-user fa-8x" style="padding: 20px 75px;"></i> 
        <h5 style="font-weight:normal; text-align:center">Welcome, Jessica!</h5>

      </div>

      <div>
        
      </div>
      <div class="link">
        <a routerLink="/home">Home</a>
      </div>
      <div class="link">
        <a routerLink="/fruit">Fruit</a>
      </div>
      <div class="link">
        <a routerLink="/veggies">Veggies</a>
      </div>
      <div class="link">
        <a routerLink="/plan">Plan</a>
      </div>
  
      <div class="link">
        <a routerLink="/grocery">Grocery List</a>
      </div>
  
      <div class="link">
        <a routerLink="/nutrition">Nutrition</a>
      </div>
  
    </p-sidebar> 
  </div>