<p>vitamins works!</p>

<p-accordion [multiple]="true">
    <p-accordionTab header="Vitamin A">
        <b>Role:</b>
        Immune function, vision, reproduction, and cellular communication.
        <br>
        <b>Sources:</b>
        Carrots, Broccoli, Canteloupe, Squash
    </p-accordionTab>
    <p-accordionTab header="Vitamin B6">
            <b>Role:</b>
            Over 100 enzyme reaction involved in metabolism. Brain development during pregnancy and infancy. 
            Immune function.
            <br>
            <b>Sources:</b>
            Potatoes and other starchy vegetables, fruit (other than citrus)
    </p-accordionTab>
    <p-accordionTab header="Vitamin B12">
            <b>Role:</b>
            Keeps nerves and blood cells healthy. Helps make DNA.
            <br>
            <b>Sources:</b>
    </p-accordionTab>
    <p-accordionTab header="Vitamin C">
            <b>Role:</b>
            Acts as an antioxidant.
            <br>
            <b>Sources:</b>
            Citrus Fruits, red and green peppers, kiwis, broccoli, strawberries, 
            canteloupe, baked potatoes, tomatoes
    </p-accordionTab>
    <p-accordionTab header="Vitamin D">
            <b>Role:</b>
            Maintains strong bones. Aides the immune system to fight off bacteria and viruses. Helps 
            nerves carry messages from the brain to other parts of the body. 
            <br>
            <b>Sources:</b>
            Mushrooms
    </p-accordionTab>
    <p-accordionTab header="Vitamin E">
            <b>Role:</b>
            Acts as an antioxidant.
            <br>
            <b>Sources:</b>
            nuts, spinach, broccoli 
    </p-accordionTab>
    <p-accordionTab header="Vitamin K">
            <b>Role:</b>
            Blood clotting and healthy bones. 
            <br>
            <b>Sources:</b>
            spinach, broccoli, kale, kale, blueberries, figs
    </p-accordionTab>
</p-accordion>